@import url("https://fonts.googleapis.com/css2?family=Teko:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Teko", sans-serif;
  background: #e7cfa3;
  color: rgb(255, 255, 255);
}
h1 {
  font-size: 5rem;
}
header {
  padding: 0 20px;
  text-align: center;
  font-size: 2rem;
  background: #cea315a6;
}

ul {
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
}
a {
  font-size: 3rem;
  text-decoration: none;
  color: white;
}
.row {
  display: flex;
  justify-content: center;
}
img {
  width: 100%;
  max-width: 800px;
}

.col {
  padding: 30px 20px 0 20px;
  width: 50%;
  text-align: center;
}
h3 {
  font-size: 3rem;
}
.social {
  position: absolute;
  bottom: 50%;
  background-color: #1480568e;
  border-radius: 10px;
}

.left {
  margin: auto;
  font-size: 2rem;
}
i {
  color: white;
  margin: 10px;
}
footer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 15%;
  width: 100%;
  margin-bottom: 20px;
  margin-top: 20px;
}
p {
  font-size: 2rem;
}

/* Media q */
@media screen and (max-width: 900px) {
  .row {
    flex-direction: column;
  }
  .col {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 150px;
    height: 450px;
    padding: 0;
    width: 100%;
  }
  footer {
    gap: 25px;
    margin-top: 25px;
    text-align: center;
    display: flex;
    flex-direction: column;
  }
  nav {
    display: none;
  }
  .wrap {
    margin: 0;
  }
}
@media screen and (min-width: 1024px) {
  body {
    overflow: hidden;
  }
}
